body{
    background-color: #f1f5f8;
}


h1{
    background-color: blueviolet;
}
#row{
    margin-top: 50px;
}

#myImg{
    height: 250px;
}
#imgDiv{
    border: 3px solid #49a6e9;
    border-radius: 5px;
}
#previous{
    display: none;
}
.hide{
    display: none;
}
